* {
  margin: 0;
  padding: 0;
}

:root {
  --pc-fixedButton: 3.5vw;
  --mobile-fixedButton: 8.53vw;

  --pc-font-size-64px: clamp(32px, 3.33vw, 64px);
  --pc-line-height-76px: clamp(47px, 3.9vw, 76px);

  --pc-font-size-22px: clamp(18px, 1.15vw, 22px);

  --pc-font-size-40px: clamp(20px, 2.4vw, 40px);
  /* vw를 46px으로 맞춤 */
  --pc-line-height-56px: clamp(0px, 3.23vw, 56px);
  /* vw를 62px으로 맞춤 */

  --pc-font-size-26px: clamp(16px, 1.67vw, 26px);
  /* vw 32px으로 맞춤 */
  --pc-line-height-40px: clamp(20px, 2.3vw, 40px);

  --pc-font-size-24px: clamp(14px, 1.56vw, 24px);
  /* vw 30px로 맞춤 */
  --pc-line-height-38px: clamp(18px, 2.2vw, 38px);

  --pc-font-size-20px: clamp(10px, 1.04vw, 20px);
  --pc-line-height-36px: clamp(18px, 1.8vw, 36px);

  --pc-1260px: clamp(0px, 65.63vw, 1260px);
  --pc-1200px: clamp(0px, 62.5vw, 1200px);
  --pc-837px: clamp(0px, 43.59vw, 837px);
  --pc-800px: clamp(0px, 41.67vw, 800px);
  --pc-790px: clamp(0px, 41.15vw, 790px);
  --pc-720px: clamp(0px, 37.5vw, 720px);
  --pc-710px: clamp(0px, 36.98vw, 710px);
  --pc-700px: clamp(0px, 36.46vw, 700px);
  --pc-600px: clamp(0px, 31.25vw, 600px);
  --pc-500px: clamp(0px, 26vw, 500px);
  --pc-480px: clamp(0px, 25vw, 480px);
  --pc-465px: clamp(0px, 24.22vw, 465px);
  --pc-410px: clamp(0px, 21.35vw, 410px);
  --pc-300px: clamp(0px, 15.63vw, 300px);
  --pc-200px: clamp(0px, 10.4vw, 200px);
  --pc-180px: clamp(0px, 9.38vw, 180px);
  --pc-160px: clamp(0px, 8.3vw, 160px);
  --pc-150px: clamp(0px, 7.81vw, 150px);
  --pc-150px: clamp(0px, 7.81vw, 150px);
  --pc-130px: clamp(0px, 6.77vw, 130px);
  --pc-100px: clamp(0px, 5.2vw, 100px);
  --pc-90px: clamp(0px, 4.68vw, 90px);
  --pc-88px: clamp(0px, 4.58vw, 88px);
  --pc-80px: clamp(0px, 4.17vw, 80px);
  --pc-73px: clamp(0px, 3.8vw, 73px);
  --pc-60px: clamp(0px, 3.1vw, 60px);
  --pc-46px: clamp(0px, 2.4vw, 46px);
  --pc-40px: clamp(0px, 2.08vw, 40px);
  --pc-39px: clamp(0px, 2.03vw, 39px);
  --pc-34px: clamp(17px, 1.7vw, 34px);
  --pc-24px: clamp(10px, 1.25vw, 24px);
  /*  
  var(--pc-0px)
  */

  --pc-header-Font: clamp(12px, 1vw, 18px);
  --pc-breadCrumb-font: clamp(13px, 0.94vw, 16px);

  /* mobile */
  --mobile-margin: clamp(30px, 8vw, 80px);
  /* margin: var(--mobile-margin) */
  --mobile-introduction-description-margin-20px: 5.33vw;
  --mobile-26px: clamp(26px, 5vw, 60px);

  --mobile-8px: clamp(8px, 2.13vw, 100px);
  --mobile-10px: clamp(10px, 2.6vw, 100px);
  --mobile-20px: clamp(20px, 5.33vw, 40px);
  --mobile-22px: clamp(22px, 5.87vw, 100px);
  --mobile-24px: clamp(24px, 6.4vw, 100px);
  --mobile-30px: clamp(30px, 8vw, 1000px);
  --mobile-35px: clamp(35px, 9.3vw, 1000px);
  --mobile-40px: clamp(40px, 10.6vw, 80px);
  --mobile-50px: clamp(50px, 13.3vw, 1000px);
  --mobile-60px: clamp(60px, 16vw, 1000px);
  --mobile-80px: clamp(80px, 21.3vw, 1000px);
  --mobile-90px: clamp(90px, 24vw, 1000px);
  --mobile-100px: clamp(100px, 26.6vw, 1000px);
  --mobile-130px: clamp(130px, 34.67vw, 1000px);
  --mobile-142px: clamp(142px, 37.8vw, 1000px);
  --mobile-152px: clamp(152px, 40.53vw, 1000px);
  --mobile-189px: clamp(189px, 50.4vw, 1000px);
  /*  
  var(--mobile-0px)
  */

  --mobile-font-size-12px: clamp(12px, 3.2vw, 18px);

  --mobile-font-size-22px: clamp(22px, 5.8vw, 26.4px);
  --mobile-line-height-30px: clamp(30px, 7vw, 36px);

  --mobile-font-size-16px: clamp(16px, 4.2vw, 24px);
  --mobile-line-height-24px: clamp(24px, 6.4vw, 36px);

  --mobile-font-size-25px: clamp(25px, 6.67vw, 100px);

  --mobile-Y-30px: clamp(-90px, -8vw, -30px);

  --mobile-content-common-font-size: clamp(16px, 4.2vw, 19.2px);
  --mobile-content-common-line-height: clamp(24px, 6.4vw, 28.8px);
}

@media (min-width: 1025px) {
  .fullScreen {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
  }
  .smallScreen {
    max-width: 1260px;
    margin: 0 auto;
  }
  .maxWidth1260Wrapper img {
    max-width: 1260px;
    width: 65.63vw;
  }

  .pcMaxWidth1260Wrapper {
    max-width: 1260px;
    width: var(--pc-1260px);
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .smallScreen {
    max-width: 100%;
    margin: 0 auto;
  }
}
.hidden {
  overflow: hidden;
}
.displayNone {
  display: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* width screen 1920/1556/1399/1260 */
.largeScreen {
  max-width: 1556px;
  width: 100%;
  margin: 0 auto;
}
.mediumScreen {
  max-width: 1399px;
  width: 100%;
  margin: 0 auto;
}

/* 텍스트 정렬 */
.centerAlignment {
  text-align: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.paddingTopBottom160 {
  padding: 160px 0;
}

.marginTop80 {
  margin-top: 80px;
}
.marginTop100 {
  margin-top: 100px;
}
.marginBottom80 {
  margin-bottom: 80px;
}
.marginBottom111 {
  margin-bottom: 111px;
}
.paddingBottom160 {
  padding-bottom: 160px;
}
.TextColor191919 {
  color: #191919;
}

.test {
  background-color: gold;
}
.MarginBottom200 {
  margin-bottom: 200px;
}

a {
  text-decoration: none;
}

/* 영어 */
@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: block;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
  font-display: block;
}
.robotoMedium {
  font-family: 'Roboto-Medium';
}
.robotoRegular {
  font-family: 'Roboto-Regular';
}
.RobotoLight {
  font-family: 'Roboto-Light';
}

.tempWrap {
  display: none;
}

/* 한글 */
@font-face {
  font-family: 'NanumSquareL';
  src: url('./assets/fonts/NanumSquareL.otf') format('opentype');
  font-display: block;
}
@font-face {
  font-family: 'NanumSquareR';
  src: url('./assets/fonts/NanumSquareR.otf') format('opentype');
  font-display: block;
}
@font-face {
  font-family: 'NanumSquareB';
  src: url('./assets/fonts/NanumSquareB.otf') format('opentype');
  font-display: block;
}
@font-face {
  font-family: 'NanumSquareEB';
  src: url('./assets/fonts/NanumSquareEB.otf') format('opentype');
  font-display: block;
}
.NanumSquareL {
  font-family: 'NanumSquareL';
}
.NanumSquareR {
  font-family: 'NanumSquareR';
}
.NanumSquareB {
  font-family: 'NanumSquareB';
}
.NanumSquareEB {
  font-family: 'NanumSquareEB';
}
