* {
  margin: 0;
  padding: 0;
}

:root {
  --mobile-margin: clamp(30px, 8vw, 80px);
  /* margin: var(--mobile-margin) */
  --mobile-margin-right-26px: clamp(26px, 5vw, 60px);

  /* mobileMarginTop={'5.33vw'} */
  --mobile-introduction-description-margin-20px: 5.33vw;

  --pc-font-size-64px: clamp(32px, 3.33vw, 64px);
  --pc-font-size-22px: clamp(16px, 1.15vw, 22px);

  /* margin 30px */
}

@media (min-width: 1025px) {
  .fullScreen {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
  }
  .smallScreen {
    max-width: 1260px;
    width: 80%;
    /* background-color: yellow; */
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .smallScreen {
    max-width: 100%;
    margin: 0 auto;
  }
}
.hidden {
  overflow: hidden;
}
.displayNone {
  display: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* width screen 1920/1556/1399/1260 */
.largeScreen {
  max-width: 1556px;
  width: 100%;
  margin: 0 auto;
}
.mediumScreen {
  max-width: 1399px;
  width: 100%;
  margin: 0 auto;
}

/* 텍스트 정렬 */
.centerAlignment {
  text-align: center;
}
.textCenter {
  text-align: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.paddingTopBottom160 {
  padding: 160px 0;
}

.marginTop80 {
  margin-top: 80px;
}
.marginTop100 {
  margin-top: 100px;
}
.marginBottom80 {
  margin-bottom: 80px;
}
.marginBottom100 {
  margin-bottom: 100px;
}
.marginBottom111 {
  margin-bottom: 111px;
}
.paddingBottom160 {
  padding-bottom: 160px;
}
.TextColor191919 {
  color: #191919;
}

.test {
  background-color: gold;
}
.MarginBottom200 {
  margin-bottom: 200px;
}

a {
  text-decoration: none;
}
.maxWidth1260Wrapper img {
  max-width: 1260px;
}

/* 영어 */
@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
}
.robotoMedium {
  font-family: 'Roboto-Medium';
}
.robotoRegular {
  font-family: 'Roboto-Regular';
}
.RobotoLight {
  font-family: 'Roboto-Light';
}

.tempWrap {
  display: none;
}

/* 한글 */
@font-face {
  font-family: 'NanumSquareL';
  src: url('./assets/fonts/NanumSquareL.otf') format('opentype');
}
@font-face {
  font-family: 'NanumSquareR';
  src: url('./assets/fonts/NanumSquareR.otf') format('opentype');
}
@font-face {
  font-family: 'NanumSquareB';
  src: url('./assets/fonts/NanumSquareB.otf') format('opentype');
}
@font-face {
  font-family: 'NanumSquareEB';
  src: url('./assets/fonts/NanumSquareEB.otf') format('opentype');
}
.NanumSquareL {
  font-family: 'NanumSquareL';
}
.NanumSquareR {
  font-family: 'NanumSquareR';
}
.NanumSquareB {
  font-family: 'NanumSquareB';
}
.NanumSquareEB {
  font-family: 'NanumSquareEB';
}
