html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
}

/* 영어 */
@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
}
.robotoMedium {
  font-family: 'Roboto-Medium';
}
.robotoRegular {
  font-family: 'Roboto-Regular';
}
.RobotoLight {
  font-family: 'Roboto-Light';
}

/* 한글 */
@font-face {
  font-family: 'NanumSquareR';
  src: url('./assets/fonts/NanumSquareR.otf') format('opentype');
}
@font-face {
  font-family: 'NanumSquareB';
  src: url('./assets/fonts/NanumSquareB.otf') format('opentype');
}
@font-face {
  font-family: 'NanumSquareEB';
  src: url('./assets/fonts/NanumSquareEB.otf') format('opentype');
}
.NanumSquareR {
  font-family: 'NanumSquareR';
}
.NanumSquareB {
  font-family: 'NanumSquareB';
}
.NanumSquareEB {
  font-family: 'NanumSquareEB';
}
