html {
  scroll-behavior: smooth;
  /* width: 1903px; */
}

.colored {
  background-color: white;
}

#mainVideo {
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#videoBox {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  /* background-color: #dedede; */
}
#center {
  display: flex;
  justify-content: center;
}
#videoBox video {
  /* width: 1556px; */
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* height: 100%; */
  /* height: 100vh; */
  /* overflow: hidden; */
}

#HeaderBottomBox {
  height: 100vh;
}

/* 영어 */
/* font-family: 'Roboto-Medium'; */
@font-face {
  font-family: 'Roboto-Medium';
  font-weight: normal;
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}

/* 한글 */
/* font-family: 'NanumSquareB'; */
@font-face {
  font-family: 'NanumSquareB';
  font-weight: normal;
  src: url('./assets/fonts/NanumSquareB.otf') format('opentype');
}

/* font-family: 'NanumSquareEB'; */
@font-face {
  font-family: 'NanumSquareEB';
  font-weight: normal;
  src: url('./assets/fonts/NanumSquareEB.otf') format('opentype');
}
