* {
  margin: 0;
  padding: 0;
}
@media (min-width: 1025px) {
  .smallScreen {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .smallScreen {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    background-color: black;
  }
}
@media (max-width: 767px) {
  .smallScreen {
    max-width: 100%;
    margin: 0 16px;
  }
}
.hidden {
  overflow: hidden;
}
.displayNone {
  display: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* width screen 1920/1556/1399/1260 */
.fullScreen {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}
.largeScreen {
  max-width: 1556px;
  width: 100%;
  margin: 0 auto;
}
.mediumScreen {
  max-width: 1399px;
  width: 100%;
  margin: 0 auto;
}

/* 텍스트 정렬 */
.centerAlignment {
  text-align: center;
}
.textCenter {
  text-align: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.paddingTopBottom160 {
  padding: 160px 0;
}

.marginTop80 {
  margin-top: 80px;
}
.marginTop100 {
  margin-top: 100px;
}
.paddingTop100 {
  padding-top: 100px;
}
.paddingTop160 {
  padding-top: 160px;
}

.marginBottom80 {
  margin-bottom: 80px;
}
.marginBottom100 {
  margin-bottom: 100px;
}
.marginBottom111 {
  margin-bottom: 111px;
}
.paddingBottom160 {
  padding-bottom: 160px;
}
.TextColor191919 {
  color: #191919;
}

/* COLOR */
.EDFAFF {
  background-color: #edfaff;
  background-color: rgba(237, 250, 255, 0.8);
}

.test {
  background-color: gold;
}
.MarginBottom200 {
  margin-bottom: 200px;
}
.heroImg {
  width: 100%;
}

a {
  text-decoration: none;
}

/* 영어 */
@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
}
.robotoMedium {
  font-family: 'Roboto-Medium';
}
.robotoRegular {
  font-family: 'Roboto-Regular';
}
.RobotoLight {
  font-family: 'Roboto-Light';
}

/* 한글 */
@font-face {
  font-family: 'NanumSquareL';
  src: url('./assets/fonts/NanumSquareL.otf') format('opentype');
}
@font-face {
  font-family: 'NanumSquareR';
  src: url('./assets/fonts/NanumSquareR.otf') format('opentype');
}
@font-face {
  font-family: 'NanumSquareB';
  src: url('./assets/fonts/NanumSquareB.otf') format('opentype');
}
@font-face {
  font-family: 'NanumSquareEB';
  src: url('./assets/fonts/NanumSquareEB.otf') format('opentype');
}
.NanumSquareL {
  font-family: 'NanumSquareL';
}
.NanumSquareR {
  font-family: 'NanumSquareR';
}
.NanumSquareB {
  font-family: 'NanumSquareB';
}
.NanumSquareEB {
  font-family: 'NanumSquareEB';
}
